[Misc]
Name=%{APPNAME} Serializer
Name[ca]=Serialitzador %{APPNAME}
Name[ca@valencia]=Serialitzador %{APPNAME}
Name[cs]=%{APPNAME} Serializer
Name[es]=Serializador de %{APPNAME}
Name[nl]=%{APPNAME}-serialisator
Name[pt]=Serialização de %{APPNAME}
Name[sk]=%{APPNAME} Serializer
Name[sr]=Серијализатор за %{APPNAME}
Name[sr@ijekavian]=Серијализатор за %{APPNAME}
Name[sr@ijekavianlatin]=Serijalizator za %{APPNAME}
Name[sr@latin]=Serijalizator za %{APPNAME}
Name[sv]=%{APPNAME} serialisering
Name[uk]=Перетворювач у послідовну форму %{APPNAME}
Name[x-test]=xx%{APPNAME} Serializerxx
Name[zh_CN]=%{APPNAME} 转换器
Comment=An Akonadi serializer plugin for %{APPNAMELC}
Comment[ca]=Un connector de serialització de l'Akonadi per %{APPNAMELC}
Comment[ca@valencia]=Un connector de serialització de l'Akonadi per %{APPNAMELC}
Comment[es]=Un complemento serializador de Akonadi para %{APPNAMELC}
Comment[nl]=Een Akonadi serialisatorplug-in voor %{APPNAMELC}
Comment[pt]=Um 'plugin' de serialização do Akonadi para o %{APPNAMELC}
Comment[sk]=Plugin Akonadi serializátora pre %{APPNAMELC}
Comment[sr]=Прикључак Аконадијевог серијализатора за %{APPNAMELC}
Comment[sr@ijekavian]=Прикључак Аконадијевог серијализатора за %{APPNAMELC}
Comment[sr@ijekavianlatin]=Priključak Akonadijevog serijalizatora za %{APPNAMELC}
Comment[sr@latin]=Priključak Akonadijevog serijalizatora za %{APPNAMELC}
Comment[sv]=Ett Akonadi insticksprogram för serialisering av %{APPNAMELC}
Comment[uk]=Додаток перетворення у послідовну форму Akonadi для %{APPNAMELC}
Comment[x-test]=xxAn Akonadi serializer plugin for %{APPNAMELC}xx
Comment[zh_CN]=%{APPNAMELC} 的 Akonadi 转换器插件

[Plugin]
Type=application/x-vnd.kde.%{APPNAMELC}
X-KDE-Library=akonadi_serializer_%{APPNAMELC}
