[Desktop Entry]
Name=Knut
Name[ast]=Knut
Name[bs]=Knut
Name[ca]=Knut
Name[ca@valencia]=Knut
Name[cs]=Knut
Name[da]=Knut
Name[de]=Knut
Name[el]=Knut
Name[en_GB]=Knut
Name[es]=Knut
Name[et]=Knut
Name[fi]=Knut
Name[fr]=Knut
Name[gl]=Knut
Name[hu]=Knut
Name[ia]=Knut
Name[it]=Knut
Name[kk]=Knut
Name[ko]=Knut
Name[lt]=Knut
Name[nb]=Knut
Name[nds]=Knut
Name[nl]=Knut
Name[nn]=Knut
Name[pl]=Knut
Name[pt]=Knut
Name[pt_BR]=Knut
Name[ru]=Knut
Name[sk]=Knut
Name[sl]=Knut
Name[sr]=КНУТ
Name[sr@ijekavian]=КНУТ
Name[sr@ijekavianlatin]=KNUT
Name[sr@latin]=KNUT
Name[sv]=Knut
Name[tr]=Knut
Name[uk]=Knut
Name[x-test]=xxKnutxx
Name[zh_CN]=Knut
Name[zh_TW]=Knut
Comment=An agent for debugging purpose
Comment[bs]=Agent za svrhe debagiranja
Comment[ca]=Un agent amb la finalitat de depuració
Comment[ca@valencia]=Un agent amb la finalitat de depuració
Comment[cs]=Agent pro ladicí účely
Comment[da]=En agent til fejlretningsformål
Comment[de]=Agent für die Fehlersuche
Comment[el]=Πράκτορας για αποσφαλμάτωση
Comment[en_GB]=An agent for debugging purpose
Comment[es]=Un agente para el propósito de depuración
Comment[et]=Silumiseks mõeldud agent
Comment[fi]=Vianjäljitykseen tarkoitettu agentti
Comment[fr]=Un agent à des fins de débogage
Comment[gl]=Un axente de depuración
Comment[hu]=Egy ügynök hibakeresési céllal
Comment[ia]=Un agente con propositos de debugging
Comment[it]=Un agente per scopi di debug
Comment[kk]=Жөндеу агенті
Comment[ko]=디버깅용 에이전트
Comment[nb]=En agent for feilsøking
Comment[nds]=En Fehlersöök-Hölper
Comment[nl]=Een agent voor debugging-doeleinden
Comment[nn]=Ein agent til feilsøking
Comment[pl]=Agent na potrzeby diagnostyczne
Comment[pt]=Um agente para fins de depuração
Comment[pt_BR]=Um agente para depuração
Comment[ru]=Агент Akonadi для целей отладки
Comment[sk]=Agent na ladiace účely
Comment[sl]=Posrednik za namene razhroščevanja
Comment[sr]=Агент за исправљање
Comment[sr@ijekavian]=Агент за исправљање
Comment[sr@ijekavianlatin]=Agent za ispravljanje
Comment[sr@latin]=Agent za ispravljanje
Comment[sv]=En modul för felsökningssyften
Comment[tr]=Hata ayıklama amaçlı bir araç
Comment[uk]=Агент для налагоджування
Comment[x-test]=xxAn agent for debugging purposexx
Comment[zh_CN]=调试用代理
Comment[zh_TW]=除錯用的代理程式
Type=AkonadiResource
Exec=akonadi_knut_resource
Icon=tools-report-bug

X-Akonadi-MimeTypes=text/calendar,text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_knut_resource
X-Akonadi-LaunchMethod=AgentLauncher
