# Same base checks as in top-level .clang-tidy, but with some additional
# checks disabled to give us some leeway in autotests (e.g. no magic numbers)

Checks: -*
        clang-analyzer-*,
        -clang-analyzer-osx,
        -clang-analyzer-cplusplus.NewDeleteLeaks,
        google-explicit-constructor,
        google-global-names-in-headers,
        hicpp-signed-bitwise,
        misc-*,
        -misc-definitions-in-headers,
        -*-non-private-member-variables-in-classes,
        performance-*,
        -performance-no-automatic-move,
        readability-*,
        -readability-avoid-const-params-in-decls,
        -readability-convert-member-functions-to-static,
        -readability-else-after-return,
        -readability-redundant-access-specifiers,
        -readability-implicit-bool-conversion,
        -readability-static-accessed-through-instance,
        -readability-inconsistent-declaration-parameter-name,
        -readability-magic-numbers
AnalyzeTemporaryDtors: true
CheckOptions:
    - key:  bugprone-assert-side-effects.AssertMacros
      value: 'Q_ASSERT'
    - key:  CheckFunctionCalls
      value: true
