[Desktop Entry]
Name=Knut
Comment=An agent for debugging purpose
Type=AkonadiResource
Exec=akonadi_knut_resource
Icon=tools-report-bug

X-Akonadi-MimeTypes=text/calendar,text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_knut_resource
