[Desktop Entry]
Name=Knut
Name[ca]=Knut
Name[ca@valencia]=Knut
Name[cs]=Knut
Name[de]=Knut
Name[en_GB]=Knut
Name[es]=Knut
Name[fi]=Knut
Name[it]=Knut
Name[nl]=Knut
Name[pl]=Knut
Name[pt]=Knut
Name[pt_BR]=Knut
Name[ru]=Knut
Name[sk]=Knut
Name[sl]=Knut
Name[sr]=КНУТ
Name[sr@ijekavian]=КНУТ
Name[sr@ijekavianlatin]=KNUT
Name[sr@latin]=KNUT
Name[sv]=Knut
Name[uk]=Knut
Name[x-test]=xxKnutxx
Name[zh_CN]=Knut
Comment=An agent for debugging purpose
Comment[ca]=Un agent per a propòsits de depuració
Comment[ca@valencia]=Un agent per a propòsits de depuració
Comment[cs]=Agent pro ladicí účely
Comment[de]=Ein Agent zur Fehlersuche
Comment[en_GB]=An agent for debugging purpose
Comment[es]=Un agente para el propósito de depuración
Comment[fi]=Virheenpaikannukseen tarkoitettu agentti
Comment[it]=Un agente per scopi di debug
Comment[nl]=Een agent voor debugging-doeleinden
Comment[pl]=Agent na potrzeby diagnostyczne
Comment[pt]=Um agente para fins de depuração
Comment[pt_BR]=Um agente para depuração
Comment[ru]=Агент Akonadi для целей отладки
Comment[sk]=Agent na ladiace účely
Comment[sl]=Posrednik za namene razhroščevanja
Comment[sr]=Агент за потребе исправљања
Comment[sr@ijekavian]=Агент за потребе исправљања
Comment[sr@ijekavianlatin]=Agent za potrebe ispravljanja
Comment[sr@latin]=Agent za potrebe ispravljanja
Comment[sv]=En modul för felsökningssyften
Comment[uk]=Агент для діагностики
Comment[x-test]=xxAn agent for debugging purposexx
Comment[zh_CN]=调试用代理
Type=AkonadiResource
Exec=akonadi_knut_resource
Icon=tools-report-bug

X-Akonadi-MimeTypes=text/calendar,text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_knut_resource
