[Desktop Entry]
Name=Google Contacts
Name[bg]=Контакти в Google
Name[bs]=Google kontakti
Name[ca]=Contactes de Google
Name[ca@valencia]=Contactes de Google
Name[cs]=Kontakty Google
Name[da]=Google-kontakter
Name[de]=Google-Kontakte
Name[el]=Google Επαφές
Name[en_GB]=Google Contacts
Name[es]=Contactos Google
Name[et]=Google'i kontaktid
Name[fi]=Google-yhteystiedot
Name[fr]=Contacts Google
Name[ga]=Teagmhálacha Google
Name[gl]=Google Contacts
Name[hu]=Google névjegyek
Name[ia]=Contactos de Google
Name[it]=Contatti Google
Name[kk]=Google контакттары
Name[km]=ទំនាក់ទំនង Google
Name[ko]=Google 연락처
Name[lt]=Google kontaktai
Name[lv]=Google kontakti
Name[nb]=Google-kontakter
Name[nds]=Google-Kontakten
Name[nl]=Google contactpersonen
Name[pl]=Kontakty Google
Name[pt]=Contactos do Google
Name[pt_BR]=Contatos do Google
Name[ru]=Контакты Google
Name[sk]=Google kontakty
Name[sl]=Stiki Google
Name[sr]=Гуглови контакти
Name[sr@ijekavian]=Гуглови контакти
Name[sr@ijekavianlatin]=Googleovi kontakti
Name[sr@latin]=Googleovi kontakti
Name[sv]=Google kontakter
Name[tr]=Google Kişileri
Name[ug]=Google ئالاقەداشلىرى
Name[uk]="Контакти Google"
Name[x-test]=xxGoogle Contactsxx
Name[zh_CN]=Google 联系人
Name[zh_TW]=Google 聯絡人
Comment=Access your Google Contacts from KDE
Comment[bg]=Достъп до контактите ви в Google от KDE
Comment[bs]=Pristupite svojim Google kontaktima iz KDE
Comment[ca]=Accediu als contactes de Google des del KDE
Comment[ca@valencia]=Accediu als contactes de Google des del KDE
Comment[da]=Tilgå dine Google-kontakter fra KDE
Comment[de]=Greifen Sie in KDE auf Google-Kontakte zu
Comment[el]=Αποκτήστε πρόσβαση στις Google επαφές σας από το KDE
Comment[en_GB]=Access your Google Contacts from KDE
Comment[es]=Acceda a sus contactos Google desde KDE
Comment[et]=Oma Google'i kontaktide kasutamine otse KDE-st
Comment[fi]=Google-yhteystietoihin pääsy KDE:sta
Comment[fr]=Accès à vos contacts Google depuis KDE
Comment[gl]=Acceda aos seus contactos de Google desde KDE.
Comment[hu]=A Google névjegyeinek elérése a KDE-ből
Comment[ia]=Accede a tu Contactos de Google ab KDE
Comment[it]=Accedi ai tuoi contatti Google da KDE
Comment[kk]=Google контакттарына KDE-ден қатынау
Comment[km]=ចូល​ដំណើរការ​ទំនាក់ទំនង Google របស់​អ្នក​ពី KDE
Comment[ko]=KDE에서 Google 연락처에 접근하기
Comment[lt]=Pasiekite savo Google kontaktus iš KDE
Comment[lv]=Piekļūstiet saviem Google kontaktiem no KDE
Comment[nb]=Bruk dine Google-kontakter fra KDE
Comment[nds]=Ut KDE op Dien Google-Kontakten togriepen
Comment[nl]=Heb toegang tot uw Google contactpersonen vanuit KDE 
Comment[pl]=Uzyskaj dostęp do Kontaktów Google z KDE
Comment[pt]=Aceda aos seus contactos da Google a partir do KDE
Comment[pt_BR]=Acesse seus contatos do Google a partir do KDE
Comment[ru]=Доступ к контактам Google из KDE
Comment[sk]=Pristupuje k vašim Google kontaktom z KDE
Comment[sl]=Dostopajte do svojih stikov Google
Comment[sr]=Приступите својим контактима на Гуглу из КДЕ‑а
Comment[sr@ijekavian]=Приступите својим контактима на Гуглу из КДЕ‑а
Comment[sr@ijekavianlatin]=Pristupite svojim kontaktima na Googleu iz KDE‑a
Comment[sr@latin]=Pristupite svojim kontaktima na Googleu iz KDE‑a
Comment[sv]=Kom åt Google kontakter från KDE
Comment[tr]=Google Kişilerinize KDE'den erişin
Comment[uk]=Доступ до ваших записів контактів, Google з KDE
Comment[x-test]=xxAccess your Google Contacts from KDExx
Comment[zh_CN]=在 KDE 中访问您的 Google 联系人
Comment[zh_TW]=用 KDE 存取您的 Google 聯絡人
Type=AkonadiResource
Exec=akonadi_googlecontacts_resource
X-Akonadi-MimeTypes=text/directory,
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googlecontacts_resource
X-Akonadi-Custom-KAccounts=google-contacts,google-calendar
X-Akonadi-Custom-HasLocalStorage=true
Icon=im-google

