[Desktop Entry]
Name=Google Contacts
Name[ca]=Contactes de Google
Name[ca@valencia]=Contactes de Google
Name[cs]=Kontakty Google
Name[en_GB]=Google Contacts
Name[fi]=Google-yhteystiedot
Name[nl]=Google contactpersonen
Name[pl]=Kontakty Google
Name[pt]=Contactos do Google
Name[pt_BR]=Contatos do Google
Name[sk]=Google kontakty
Name[sl]=Stiki Google
Name[sv]=Google kontakter
Name[uk]=Контакти Google
Name[x-test]=xxGoogle Contactsxx
Comment=Access your Google Contacts from KDE
Comment[ca]=Accediu als contactes de Google des del KDE
Comment[ca@valencia]=Accediu als contactes de Google des del KDE
Comment[en_GB]=Access your Google Contacts from KDE
Comment[fi]=Google-yhteystietoihin pääsy KDE:sta
Comment[nl]=Heb toegang tot uw Google contactpersonen vanuit KDE 
Comment[pl]=Uzyskaj dostęp do Kontaktów Google z KDE
Comment[pt]=Aceda aos seus contactos da Google a partir do KDE
Comment[pt_BR]=Acesse seus contatos do Google a partir do KDE
Comment[sk]=Pristupuje k vašim Google kontaktom z KDE
Comment[sl]=Dostopajte do svojih stikov Google
Comment[sv]=Kom åt Google kontakter från KDE
Comment[uk]=Доступ до ваших записів контактів Google з KDE
Comment[x-test]=xxAccess your Google Contacts from KDExx
Type=AkonadiResource
Exec=akonadi_googlecontacts_resource
X-Akonadi-MimeTypes=text/directory,
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googlecontacts_resource
X-Akonadi-Custom-KAccounts=google-contacts,google-calendar
Icon=im-google

