[Desktop Entry]
Name=Google Contacts
Comment=Access your Google Contacts from KDE
Type=AkonadiResource
Exec=akonadi_googlecontacts_resource
X-Akonadi-MimeTypes=text/directory,
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googlecontacts_resource
X-Akonadi-Custom-KAccounts=google-contacts,google-calendar
Icon=im-google

