[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KABC/IMProtocol
X-KDE-KAddressBook-CEWVersion=1
Name=KAddressbook Instant Messaging Protocol
Name[af]=KAddressbook kits boodskap protokol
Name[bg]=Протокол за МС за адресника
Name[ca]=Protocol de missatgeria instantània del KAddressbook
Name[cs]=KAddressbook instant messaging protokol
Name[da]=KAddressbook kvikbesked-protokol
Name[de]=Adressbuch Instant Messaging Protokoll
Name[el]=Πρωτόκολλο στιγμιαίου μηνύματος του KAddressbook
Name[eo]=KAddressbook Rapidmesaĝila Protokolo
Name[es]=Protocolo de mensajería instantánea de KAddressbook
Name[et]=KDE aadressiraamatu kiirsuhtlusprotokoll
Name[eu]=KAddressbook berehalako mezularitza protokoloa
Name[fa]=قرارداد پیام‌دهی فوری KAddressbook
Name[fi]=KAddresbookin pikaviestintäprotokolla
Name[fr]=Protocole de messagerie instantanée pour KAddressbook
Name[fy]=KAddressbook Instant Messaging-protokol
Name[ga]=Prótacal Teachtaireachtaí Meandaracha KAddressbook
Name[gl]=Protocolo de mensaxerí­a instantánea do KAddressbook
Name[he]=פרוטוקול מסרים מידיים של KAddressbook
Name[hu]=KAddressbook azonnali üzenetküldési protokoll
Name[is]=KAddressbook skilaboðaforritið
Name[it]=Protocollo messaggistica istantanea di KAddressbook
Name[ja]=KAddressbook インスタントメッセージプロトコル
Name[ka]=KDE ოქმი მყისიერი შეტყობინებებისათვისწიგნაკითვის
Name[kk]=KAddressbook лезде хабарласу протоколы
Name[km]=ពិធីការ​ផ្ញើសារ​បន្ទាន់​របស់ KAddressbook
Name[ko]=KAddressbook 인스턴트 메시징 프로토콜
Name[lt]=KAddressbook momentinių žinučių protokolas
Name[lv]=KAddressbook tūlītējās ziņojumapmaiņas protokols
Name[ms]=Protokol Penghantaran Mesej Segera KAddressbook 
Name[nb]=KAdressbook lynmeldingsprotokoll
Name[nds]=KAddressbook-Kortnarichten-Protokoll
Name[ne]=केडीई ठेगाना पुस्तिका इन्सट्यान्ट मेसेन्जिङ प्रोटोकल
Name[nl]=KAddressBook Instant Messaging-protocol
Name[nn]=Lynmeldingsprotokoll for KDE-adresseboka
Name[pa]=ਕੇ-ਐਡਰੈੱਸਬੁੱਕ ਤੁਰੰਤ ਮੈਂਸ਼ਜਿੰਗ ਪਰੋਟੋਕਾਲ
Name[pl]=Protokół komunikacji internetowej KAddressbook
Name[pt]=Protocolo de Mensagens Instantâneas do KAdressbook
Name[pt_BR]=Protocolo de mensagens instantâneas do KAddressbook
Name[ro]=Protocol de mesagerie instantanee Carte de adrese
Name[ru]=Протокол обмена сообщениями адресной книги KDE
Name[se]=Šleađgadieđáhusprotokolla KDE-čujuhusgirjji várás
Name[sk]=Protokol pre KDE Adresár Instant Messaging
Name[sl]=Protokol takojšnega sporočanja za Adresar
Name[sv]=Direktmeddelandeprotokoll för adressboken
Name[ta]=கேஅட்ரஸ்புக் உடனடி செய்தி பரிமாற்றம்
Name[tg]=Протоколи мубодилаи иттилооти китоби адресии KDE
Name[tr]=KAddressbook Hızlı Mesajlaşma Protokolü
Name[uk]=Протокол миттєвого зв'язку KAddressbook
Name[x-test]=xxKAddressbook Instant Messaging Protocolxx
Name[zh_CN]=KAddressbook 即时通讯协议
Name[zh_TW]=KAddressbook 即時通訊協定
[PropertyDef::X-KDE-InstantMessagingKABCField]
Type=QString

