[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KABC/IMProtocol
X-KDE-KAddressBook-CEWVersion=1
Name=KAddressbook Instant Messaging Protocol
Name[ca]=Protocol de missatgeria instantània del KAddressbook
Name[en_GB]=KAddressbook Instant Messaging Protocol
Name[nb]=KAdressbook lynmeldingsprotokoll
Name[nds]=KAddressbook-Kortnarichten-Protokoll
Name[nn]=Lynmeldingsprotokoll for KDE-adresseboka
Name[pt]=Protocolo de Mensagens Instantâneas do KAddressbook
Name[pt_BR]=Protocolo de Mensagens Instantâneas do KAddressbook
Name[sv]=Addressbokens direktmeddelandeprotokoll
Name[uk]=Протокол миттєвого обміну повідомленнями KAddressbook
Name[x-test]=xxKAddressbook Instant Messaging Protocolxx
[PropertyDef::X-KDE-InstantMessagingKABCField]
Type=QString

