[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KABC/IMProtocol
X-KDE-KAddressBook-CEWVersion=1
Name=KAddressbook Instant Messaging Protocol
[PropertyDef::X-KDE-InstantMessagingKABCField]
Type=QString

