# SPDX-FileCopyrightText: 2025 Carl Schwan <carl@carlschwan.eu>
# SPDX-License-Identifier: LGPL-2.0-or-later

[Desktop Entry]
Name=Agent Configuration Dialog
Name[ar]=حواري الضبط الوكيل
Name[bg]=Конфигурационен диалог за настройки на диалог
Name[ca]=Diàleg de configuració d'agent
Name[ca@valencia]=Diàleg de configuració d'agent
Name[es]=Diálogo de configuración del agente
Name[eu]=Agentea konfiguratzeko elkarrizketa-koadroa
Name[fr]=Boîte de dialogue de configuration de l'agent
Name[gl]=Diálogo de configuración de axente
Name[ia]=Dialogo de configuration de Agente
Name[it]=Finestra di configurazione dell'agente
Name[ka]=აგენტის მორგების დიალოგი
Name[lv]=Aģenta konfigurācijas logs
Name[nl]=Configuratiedialoog van agent
Name[sl]=Pogovorno okno za konfiguracijo agenta
Name[tr]=Aracı Yapılandırması İletişim Kutusu
Name[uk]=Вікно налаштовування агента
Name[x-test]=xxAgent Configuration Dialogxx
Name[zh_CN]=代理配置对话框
Name[zh_TW]=代理程式設定對話框
Exec=akonadiagentconfigdialog %u
Terminal=false
Icon=org.kde.kontact
Type=Application
NoDisplay=true
