# SPDX-FileCopyrightText: 2025 Carl Schwan <carl@carlschwan.eu>
# SPDX-License-Identifier: LGPL-2.0-or-later

[Desktop Entry]
Name=Agent Configuration Dialog
Name[ca]=Diàleg de configuració d'agent
Name[es]=Diálogo de configuración del agente
Name[fr]=Boîte de dialogue de configuration de l'agent
Name[ka]=აგენტის მორგების დიალოგი
Name[nl]=Configuratiedialoog van agent
Name[sl]=Pogovorno okno za konfiguracijo agenta
Name[tr]=Aracı Yapılandırması İletişim Kutusu
Name[uk]=Вікно налаштовування агента
Name[x-test]=xxAgent Configuration Dialogxx
Exec=akonadiagentconfigdialog %u
Terminal=false
Icon=org.kde.kontact
Type=Application
NoDisplay=true
