[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Knut Resource (Headless)
Name[pt]=Recurso Knut do Akonadi (Indirecto)
Name[pt_BR]=Recurso Knut do Akonadi (Indirecto)
Name[sv]=Akonadi Knut-resurs (utan huvud)
Name[x-test]=xxAkonadi Knut Resource (Headless)xx
Comment=An agent for unittest purpose
Comment[pt]=Um agente para fins de testes unitários
Comment[pt_BR]=Um agente para fins de testes unitários
Comment[sv]=En modul för felsökningssyften
Comment[x-test]=xxAn agent for unittest purposexx
Type=AkonadiResource
Exec=akonadi_knut_resource
Icon=tool

X-Akonadi-MimeTypes=text/calendar,text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_knut_resource_unittest
