[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Knut Resource (Headless)
Comment=An agent for unittest purpose
Type=AkonadiResource
Exec=akonadi_knut_resource
Icon=tool

X-Akonadi-MimeTypes=text/calendar,text/directory
X-Akonadi-Capabilities=text/calendar
X-Akonadi-Identifier=akonadi_knut_resource_unittest
