[Desktop Entry]
Name=Knut
Name[pa]=ਕੇ-ਨੁਟ
Name[x-test]=xxKnutxx
Comment=An agent for debugging purpose
Comment[ca]=Un agent amb la finalitat de depuració
Comment[da]=En agent til fejlretningsformål
Comment[de]=Agent für Zwecke der Fehlersuche
Comment[el]=Ένας πελάτης με σκοπό την αποσφαλμάτωση
Comment[es]=Un agente para depurar
Comment[et]=Agent silumiseks
Comment[fr]=Un agent à des fins de déboguage
Comment[ga]=Gníomhaire dífhabhtaithe
Comment[gl]=Un axente de depuración
Comment[it]=Un agente per scopi di debug
Comment[ja]=デバッグのためのエージェント
Comment[km]=ភ្នាក់ងារ​សម្រាប់​បំបាត់​កំហុស
Comment[ko]=디버깅을 위한 에이전트
Comment[lt]=Išriktavimo agentas
Comment[lv]=Atkļūdošanas aģents
Comment[nb]=En agent for feilsøking
Comment[nds]=Hölper för de Fehlersöök
Comment[ne]=त्रुटिमोचन उद्देश्यका लागि एउटा अभिकर्ता
Comment[nl]=Een agent voor debugging-doeleinden
Comment[nn]=Ein agent til feilsøking
Comment[pa]=ਡੀਬੱਗ ਵਾਸਤੇ ਇੱਕ ਏਜੰਟ
Comment[pl]=Agent służący do debugowania
Comment[pt]=Um agente para fins de depuração
Comment[pt_BR]=Um agente para depuração
Comment[ro]=Agent pentru scopuri de depanare
Comment[sl]=Posrednik za potrebe razhroščevanja
Comment[sv]=En modul för felsökningssyften
Comment[tr]=Hata ayıklama amaçlı bir araç
Comment[uk]=Агент для зневадження
Comment[x-test]=xxAn agent for debugging purposexx
Comment[zh_CN]=用于调试的代理器
Comment[zh_TW]=除錯用的代理程式
Type=AkonadiResource
Exec=akonadi_knut_resource
Icon=tools-report-bug

X-Akonadi-MimeTypes=text/calendar,text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_knut_resource
