[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Knut Resource (Headless)
Name[ca]=Recurs Knut de l'Akonadi (Unitari)
Name[de]=Akonadi-Ressource für Knut (kopflos)
Name[el]=Πόρος Knut του Akonadi (χωρίς κεφαλή)
Name[pt]=Recurso Knut do Akonadi (Indirecto)
Name[pt_BR]=Recurso Knut do Akonadi (Indirecto)
Name[sv]=Akonadi Knut-resurs (utan huvud)
Name[x-test]=xxAkonadi Knut Resource (Headless)xx
Name[zh_TW]=Akonadi Knut 資源（Headless）
Comment=An agent for unittest purpose
Comment[ca]=Un agent amb la finalitat de proves unitàries
Comment[el]=Ένας πελάτης με σκοπό τον έλεγχο μονάδας
Comment[pt]=Um agente para fins de testes unitários
Comment[pt_BR]=Um agente para fins de testes unitários
Comment[sv]=En modul för felsökningssyften
Comment[x-test]=xxAn agent for unittest purposexx
Comment[zh_TW]=單一測試用的代理程式
Type=AkonadiResource
Exec=akonadi_knut_resource
Icon=tool

X-Akonadi-MimeTypes=text/calendar,text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_knut_resource_unittest
