[Misc]
Name=SocialFeedItem Serializer
Name[ast]=Serializador pa SocialFeedItem
Name[bs]=SocialFeedItem Serializer
Name[ca]=Serialitzador SocialFeedItem
Name[ca@valencia]=Serialitzador SocialFeedItem
Name[cs]=SocialFeedItem Serializer
Name[da]=SocialFeedItem serializer
Name[de]=SocialFeedItem-Serialisierer
Name[el]=Διαχειριστής SocialFeedItem
Name[en_GB]=SocialFeedItem Serialiser
Name[es]=Serializador para SocialFeedItem
Name[et]=SocialFeedItem jadasti
Name[fi]=SocialFeedItem-serialisoija
Name[fr]=Sérialiseur SocialFeedItem
Name[ga]=Srathóir SocialFeedItem
Name[gl]=Serializador SocialFeedItem
Name[hu]=SocialFeedItem-kezelő
Name[it]=Serializzatore di SocialFeedItem
Name[ja]=SocialFeedItem シリアライザ
Name[kk]=SocialFeedItem тізбектеуіші
Name[km]=SocialFeedItem Serializer
Name[ko]=SocialFeedItem 시리얼라이저
Name[lv]=SocialFeedItem serializētājs
Name[nb]=SocialFeedItem-serialisator
Name[nds]=SocialFeedItem-Reegmoduul
Name[nl]=SocialFeedItem-serialisator
Name[nn]=SocialFeedItem-serialisator
Name[pa]=SocialFeedItem ਸੀਰੀਅਲਾਈਜ਼ਰ
Name[pl]=Serializacja SocialFeedItem
Name[pt]=Serialização do SocialFeedItem
Name[pt_BR]=Serialização do SocialFeedItem
Name[ru]=Сериализатор SocialFeedItem
Name[sk]=SocialFeedItem Serializer
Name[sr]=SocialFeedItem серијализатор
Name[sr@ijekavian]=SocialFeedItem серијализатор
Name[sr@ijekavianlatin]=SocialFeedItem serijalizator
Name[sr@latin]=SocialFeedItem serijalizator
Name[sv]=Serialisering av SocialFeedItem
Name[tr]=SocialFeedItem Sıralandırıcı
Name[uk]=Перетворювач у послідовну форму SocialFeedItem
Name[x-test]=xxSocialFeedItem Serializerxx
Name[zh_CN]=SocialFeedItem 转换器
Name[zh_TW]=SocialFeedItem 序列器
Comment=An Akonadi serializer plugin for SocialFeedItem
Comment[ast]=Un complementu serializador d'Akonadi pa SocialFeedItem
Comment[bs]=Akonadi serijalizer dodatak za SocialFeedItem
Comment[ca]=Un connector de serialització de l'Akonadi per SocialFeedItem
Comment[ca@valencia]=Un connector de serialització de l'Akonadi per SocialFeedItem
Comment[da]=Et Akonadi serializer-plugin til SocialFeedItem
Comment[de]=Ein Akonadi-Serialisierer für SocialFeedItem
Comment[el]=Ένα πρόσθετο διαχειριστή του Akonadi για το SocialFeedItem
Comment[en_GB]=An Akonadi serialiser plugin for SocialFeedItem
Comment[es]=Un complemento serializador de Akonadi para SocialFeedItem
Comment[et]=Akonadi SocialFeedItem jadasti plugin
Comment[fi]=Akonadi-serialisoijaliitännäinen ohjelmalle SocialFeedItem
Comment[fr]=Un module externe de sérialisation Akonadi pour SocialFeedItem
Comment[ga]=Breiseán srathóra Akonadi le haghaidh SocialFeedItem
Comment[gl]=Unha extensión se serialización de Akonadi para SocialFeedItem
Comment[hu]=SocialFeedItem Akonadi-kezelő modul
Comment[it]=Un'estensione di serializzazione di Akonadi per SocialFeedItem
Comment[ja]=SocialFeedItem のための Akonadi シリアライザ・プラグイン
Comment[kk]=SocialFeedItem дегеннің Akonadi тізбектеуіш плагині
Comment[km]=An Akonadi serializer កម្មវិធី​ជំនួយ​សម្រាប់​  SocialFeedItem
Comment[ko]=SocialFeedItem을(를) 위한 Akonadi 시리얼라이저 플러그인
Comment[lv]=Akonadi serializēšanas spraudnis SocialFeedItem
Comment[nb]=Et Akonadi-serialisatortillegg for SocialFeedItem
Comment[nds]=En Akonadi-Reegmodul för SocialFeedItem
Comment[nl]=Een Akonadi serialisatorplug-in voor SocialFeedItem
Comment[nn]=Eit Akonadi-serialisatortillegg for SocialFeedItem
Comment[pl]=Wtyczka serializacji Akonadi dla SocialFeedItem
Comment[pt]=Um 'plugin' de serialização do Akonadi para o SocialFeedItem
Comment[pt_BR]=Um plugin de serialização do Akonadi para o SocialFeedItem
Comment[ru]=Модуль сохранения записей SocialFeedItem для Akonadi
Comment[sr]=Прикључак Аконадијевог серијализатора за SocialFeedItem
Comment[sr@ijekavian]=Прикључак Аконадијевог серијализатора за SocialFeedItem
Comment[sr@ijekavianlatin]=Priključak Akonadijevog serijalizatora za SocialFeedItem
Comment[sr@latin]=Priključak Akonadijevog serijalizatora za SocialFeedItem
Comment[sv]=Ett Akonadi insticksprogram för serialisering av SocialFeedItem
Comment[tr]=SocialFeedItem için Akonadi sıralandırıcı eklentisi
Comment[uk]=Додаток перетворення у послідовну форму Akonadi для SocialFeedItem
Comment[x-test]=xxAn Akonadi serializer plugin for SocialFeedItemxx
Comment[zh_CN]=SocialFeedItem 的 Akonadi 转换器插件
Comment[zh_TW]=SocialFeedItem 的 Akonadi 序列器外掛程式

[Plugin]
Type=text/x-vnd.akonadi.socialfeeditem
X-KDE-Library=akonadi_serializer_socialfeeditem
X-Akonadi-Class=Akonadi::SocialFeedItem;
X-KDE-ClassName=Akonadi::SocialFeedItemSerializerPlugin
