[Misc]
Name=SocialFeedItem Serializer
Comment=An Akonadi serializer plugin for SocialFeedItem

[Plugin]
Type=text/x-vnd.akonadi.socialfeeditem
X-KDE-Library=akonadi_serializer_socialfeeditem
X-Akonadi-Class=Akonadi::SocialFeedItem;
X-KDE-ClassName=Akonadi::SocialFeedItemSerializerPlugin
