[Desktop Entry]
Name=%{APPNAME} Resource
Name[ca]=Recurs %{APPNAME}
Name[ca@valencia]=Recurs %{APPNAME}
Name[nl]=%{APPNAME} hulpbron
Name[pt]=Recurso de %{APPNAME}
Name[sk]=%{APPNAME} zdroj
Name[sv]=%{APPNAME} resurs
Name[uk]=Ресурс %{APPNAME}
Name[x-test]=xx%{APPNAME} Resourcexx
Comment=An Akonadi resource plugin for %{APPNAME}
Comment[ca]=Un connector de recurs per a l'Akonadi per %{APPNAME}
Comment[ca@valencia]=Un connector de recurs per a l'Akonadi per %{APPNAME}
Comment[nl]=Een hulpbronplug-in van Akonadi voor %{APPNAME}
Comment[pt]=Um 'plugin' de recursos de Akonadi para o %{APPNAME}
Comment[sk]=Plugin zdroja Akonadi pre %{APPNAME}
Comment[sv]=Ett Akonadi resursinsticksprogram för %{APPNAME}
Comment[uk]=Додаток ресурсу Akonadi для %{APPNAME}
Comment[x-test]=xxAn Akonadi resource plugin for %{APPNAME}xx
Type=AkonadiResource
Exec=akonadi_%{APPNAMELC}_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_%{APPNAMELC}_resource
