[Desktop Entry]
Type=AkonadiSearchPlugin
Name=Akonadi Test Search Plugin
Name[ca]=Connector de cerca de prova per a l'Akonadi
Name[ca@valencia]=Connector de cerca de prova per a l'Akonadi
Name[cs]=Modul pro testování hledání v Akonadi
Name[da]=Testsøge-plugin til Akonadi
Name[de]=Akonadi-Testsuchmodul
Name[el]=Πρόσθετο δοκιμαστικής αναζήτησης Akonadi
Name[es]=Complemento de prueba de búsqueda de Akonadi
Name[et]=Akonadi otsingu testplugin
Name[fi]=Akonadin hakuliitännäinen testaustarkoituksiin
Name[fr]=Module externe de test pour les recherches Akonadi
Name[gl]=Engadido de busca de proba de Akonadi
Name[hu]=Akonadi teszt keresés bővítmény
Name[ia]=Plug-in de cerca de essayo de Akonadi
Name[it]=Plugin di ricerca di test per Akonadi
Name[ko]=Akonadi 테스트 검색 플러그인
Name[nb]=Akonadi test-tillegg for søk
Name[nds]=Akonadi-Testsöökmoduul
Name[nl]=Akonadi-plug-in voor test met zoeken
Name[pl]=Wtyczka próbna znajdywania dla Akonadi
Name[pt]='Plugin' de Testes de Pesquisa do Akonadi
Name[pt_BR]=Plugin de teste de pesquisa do Akonadi
Name[ru]=Тестовый модуль поиска по данным Akonadi
Name[sk]=Testovací plugin hľadania Akonadi
Name[sr]=Пробни прикључак за претрагу над Аконадијем
Name[sr@ijekavian]=Пробни прикључак за претрагу над Аконадијем
Name[sr@ijekavianlatin]=Probni priključak za pretragu nad Akonadijem
Name[sr@latin]=Probni priključak za pretragu nad Akonadijem
Name[sv]=Akonadi test-sökinsticksprogram
Name[tr]=Akonadi Test Arama Eklentisi
Name[uk]=Тестовий додаток пошуку Akonadi
Name[x-test]=xxAkonadi Test Search Pluginxx
Name[zh_TW]=Akonadi 測試搜尋外掛程式
X-Akonadi-Library=akonadi_test_searchplugin
X-Akonadi-ClassName=SearchPlugin
X-Akonadi-LoadByDefault=false
