[Desktop Entry]
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_akonadicontact_actions
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAddressBook
X-KDE-Weight=200

Name=Contact Actions
Name[pt]=Acções do Contacto
Name[pt_BR]=Ações do contatos
Name[sv]=Kontaktåtgärder
Name[tr]=Kişi Eylemleri
Name[uk]=Дії контакту
Name[x-test]=xxContact Actionsxx
Comment=Configure the Contact Actions
Comment[pt]=Configurar as Acções do Contacto
Comment[pt_BR]=Configura as ações do contato
Comment[sv]=Anpassa kontaktåtgärder
Comment[tr]=Kişi Eylemlerini Yapılandır
Comment[uk]=Налаштування дій для контакту
Comment[x-test]=xxConfigure the Contact Actionsxx
X-KDE-Keywords=kaddressbook, configure, settings, contact, actions
