[Desktop Entry]
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_akonadicontact_actions
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAddressBook
X-KDE-Weight=200

Name=Contact Actions
Name[ca]=Accions del contacte
Name[cs]=Činnosti kontaktů
Name[da]=Kontakthandlinger
Name[de]=Kontakt-Aktionen
Name[en_GB]=Contact Actions
Name[es]=Acciones de contactos
Name[et]=Kontaktitoimingud
Name[fr]=Actions sur les contacts
Name[gl]=Accións de contacto
Name[lv]=Kontaktu darbības
Name[nb]=Kontakthandlinger
Name[nds]=Kontakt-Akschonen
Name[pt]=Acções do Contacto
Name[pt_BR]=Ações do contatos
Name[sr]=Радње са контактима
Name[sr@ijekavian]=Радње са контактима
Name[sr@ijekavianlatin]=Radnje sa kontaktima
Name[sr@latin]=Radnje sa kontaktima
Name[sv]=Kontaktåtgärder
Name[tr]=Kişi Eylemleri
Name[uk]=Дії контакту
Name[x-test]=xxContact Actionsxx
Name[zh_CN]=联系人动作
Name[zh_TW]=聯絡人動作
Comment=Configure the Contact Actions
Comment[ca]=Configura les accions del contacte
Comment[cs]=Nastavit činnosti kontaktů
Comment[da]=Indstil kontakthandlinger
Comment[de]=Kontakt-Aktionen einrichten
Comment[en_GB]=Configure the Contact Actions
Comment[es]=Configurar las acciones de contactos
Comment[et]=Kontaktitoimingute seadistamine
Comment[fr]=Configurer les actions sur les contacts
Comment[gl]=Configurar as accións de contacto
Comment[lv]=Konfigurēt kontaktu darbības
Comment[nb]=Sett opp kontakthandlinger
Comment[nds]=Kontakt-Akschonen instellen
Comment[pt]=Configurar as Acções do Contacto
Comment[pt_BR]=Configura as ações do contato
Comment[sr]=Подесите радње са контактима
Comment[sr@ijekavian]=Подесите радње са контактима
Comment[sr@ijekavianlatin]=Podesite radnje sa kontaktima
Comment[sr@latin]=Podesite radnje sa kontaktima
Comment[sv]=Anpassa kontaktåtgärder
Comment[tr]=Kişi Eylemlerini Yapılandır
Comment[uk]=Налаштування дій для контакту
Comment[x-test]=xxConfigure the Contact Actionsxx
Comment[zh_CN]=配置联系人动作
Comment[zh_TW]=設定聯絡人動作
X-KDE-Keywords=kaddressbook, configure, settings, contact, actions
