[Desktop Entry]
Type=Service
Icon=aim_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/aim
Comment=AIM Protocol
Name=AIM

