[Desktop Entry]
Type=Service
Icon=aim_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/aim
Comment=AIM Protocol
Comment[ca]=Protocol AIM
Comment[en_GB]=AIM Protocol
Comment[nb]=AIM-protokoll
Comment[nn]=AIM-protokoll
Comment[pt]=Protocolo AIM
Comment[pt_BR]=Protocolo do AIM
Comment[sv]=AIM-protokoll
Comment[uk]=Протокол AIM
Comment[x-test]=xxAIM Protocolxx
Name=AIM
Name[ca]=AIM
Name[en_GB]=AIM
Name[nb]=AIM
Name[nn]=AIM
Name[pt]=AIM
Name[pt_BR]=AIM
Name[sv]=AIM
Name[uk]=AIM
Name[x-test]=xxAIMxx

