[Desktop Entry]
Type=Service
Icon=aim_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/aim
Comment=AIM Protocol
Comment[ca]=Protocol AIM
Comment[ca@valencia]=Protocol AIM
Comment[cs]=Protokol AIM
Comment[da]=AIM-protokollen
Comment[de]=AIM-Protokoll
Comment[en_GB]=AIM Protocol
Comment[eo]=AIM-Protokolo
Comment[es]=Protocolo AIM
Comment[et]=AIM protokoll
Comment[fr]=Protocole AIM
Comment[ga]=Prótacal AIM
Comment[km]=ពិធីការ​ AIM ​​
Comment[nb]=AIM-protokoll
Comment[nds]=AIM-Protokoll
Comment[nl]=AIM-protocol
Comment[nn]=AIM-protokoll
Comment[pt]=Protocolo AIM
Comment[pt_BR]=Protocolo do AIM
Comment[ru]=Протокол AIM
Comment[sr]=Протокол АИМ
Comment[sr@ijekavian]=Протокол АИМ
Comment[sr@ijekavianlatin]=Protokol AIM
Comment[sr@latin]=Protokol AIM
Comment[sv]=AIM-protokoll
Comment[th]=โพรโทคอล AIM
Comment[uk]=Протокол AIM
Comment[wa]=Protocole AIM
Comment[x-test]=xxAIM Protocolxx
Comment[zh_CN]=AIM 协议
Comment[zh_TW]=AIM 協定
Name=AIM
Name[ca]=AIM
Name[ca@valencia]=AIM
Name[cs]=AIM
Name[da]=AIM
Name[de]=AIM
Name[en_GB]=AIM
Name[eo]=AIM
Name[es]=AIM
Name[et]=AIM
Name[fr]=AIM
Name[ga]=AIM
Name[km]=AIM​
Name[nb]=AIM
Name[nds]=AIM
Name[nl]=AIM
Name[nn]=AIM
Name[pt]=AIM
Name[pt_BR]=AIM
Name[ru]=AIM
Name[sr]=АИМ
Name[sr@ijekavian]=АИМ
Name[sr@ijekavianlatin]=AIM
Name[sr@latin]=AIM
Name[sv]=AIM
Name[th]=AIM
Name[uk]=AIM
Name[wa]=AIM
Name[x-test]=xxAIMxx
Name[zh_CN]=AIM
Name[zh_TW]=AIM

