[Desktop Entry]
Type=Service
Icon=gadu_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/gadu
Comment=Gadu-Gadu Protocol
Name=Gadu-Gadu

