[Desktop Entry]
Type=Service
Icon=google_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/googletalk
Comment=Google Talk
Comment[nl]=Google Talk
Comment[pt]=Google Talk
Comment[pt_BR]=Google Talk
Comment[sk]=Google Talk
Comment[sv]=Google Talk
Comment[uk]=Google Talk
Comment[x-test]=xxGoogle Talkxx
Name=Google Talk
Name[nl]=Google Talk
Name[pt]=Google Talk
Name[pt_BR]=Google Talk
Name[sk]=Google Talk
Name[sv]=Google Talk
Name[uk]=Google Talk
Name[x-test]=xxGoogle Talkxx
