[Desktop Entry]
Type=Service
Icon=groupwise_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/groupwise
Comment=Novell GroupWise Messenger
Comment[ca]=Novell GroupWise Messenger
Comment[ca@valencia]=Novell GroupWise Messenger
Comment[cs]=Novell GroupWise komunikátor
Comment[de]=Novell-GroupWise-Nachrichtendienst
Comment[en_GB]=Novell GroupWise Messenger
Comment[ga]=Teachtaire Novell GroupWise
Comment[km]=កម្មវិធី​ផ្ញើសារ​របស់ Novell GroupWise
Comment[nb]=Novell GroupWise meldingsprogram
Comment[nds]=Novell-GroupWise-Kortnarichtenmaker
Comment[nn]=Lynmeldingstenesta Novell GroupWise
Comment[pt]=Novell GroupWise Messenger
Comment[pt_BR]=Mensageiro do GroupWise da Novell
Comment[sv]=Novell GroupWise-meddelandeklient
Comment[th]=ข้อความด่วนทันใจ GroupWise ของโนเวลล์
Comment[uk]=Програма обміну повідомленнями Novell GroupWise
Comment[x-test]=xxNovell GroupWise Messengerxx
Comment[zh_CN]=Novell GroupWise Messenger
Comment[zh_TW]=Novell GroupWise 即時訊息
Name=GroupWise
Name[ca]=GroupWise
Name[ca@valencia]=GroupWise
Name[cs]=GroupWise
Name[de]=GroupWise
Name[en_GB]=GroupWise
Name[ga]=GroupWise
Name[km]=GroupWise​
Name[nb]=GroupWise
Name[nds]=GroupWise
Name[nn]=GroupWise
Name[pt]=GroupWise
Name[pt_BR]=GroupWise
Name[sv]=GroupWise
Name[th]=GroupWise
Name[uk]=GroupWise
Name[x-test]=xxGroupWisexx
Name[zh_CN]=GroupWise
Name[zh_TW]=GroupWise

