[Desktop Entry]
Type=Service
Icon=groupwise_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/groupwise
Comment=Novell GroupWise Messenger
Name=GroupWise

