[Desktop Entry]
Type=Service
Icon=groupwise_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/groupwise
Comment=Novell GroupWise Messenger
Comment[ca]=Novell GroupWise Messenger
Comment[ca@valencia]=Novell GroupWise Messenger
Comment[cs]=Novell GroupWise komunikátor
Comment[da]=Novell GroupWise Messenger
Comment[de]=Novell-GroupWise-Nachrichtendienst
Comment[en_GB]=Novell GroupWise Messenger
Comment[eo]=Novell GroupWise mesaĝilo
Comment[es]=Mensajería de Novell GroupWise
Comment[et]=Novell GroupWise Messenger
Comment[fr]=Messagerie GroupWise Novell
Comment[ga]=Teachtaire Novell GroupWise
Comment[it]=Novell GroupWise Messenger
Comment[km]=កម្មវិធី​ផ្ញើសារ​របស់ Novell GroupWise
Comment[nb]=Novell GroupWise meldingsprogram
Comment[nds]=Novell-GroupWise-Kortnarichtenmaker
Comment[nl]=Protocol voor Novell GroupWise Messenger
Comment[nn]=Lynmeldingstenesta Novell GroupWise
Comment[pt]=Novell GroupWise Messenger
Comment[pt_BR]=Mensageiro do GroupWise da Novell
Comment[ro]=Mesagerul Novell GroupWise
Comment[sr]=Новелов Групвајз месенџер
Comment[sr@ijekavian]=Новелов Групвајз месенџер
Comment[sr@ijekavianlatin]=Novellov GroupWise Messenger
Comment[sr@latin]=Novellov GroupWise Messenger
Comment[sv]=Novell GroupWise-meddelandeklient
Comment[th]=ข้อความด่วนทันใจ GroupWise ของโนเวลล์
Comment[uk]=Програма обміну повідомленнями Novell GroupWise
Comment[wa]=Messaedjî Novell GroupWise
Comment[x-test]=xxNovell GroupWise Messengerxx
Comment[zh_CN]=Novell GroupWise Messenger
Comment[zh_TW]=Novell GroupWise 即時訊息
Name=GroupWise
Name[ca]=GroupWise
Name[ca@valencia]=GroupWise
Name[cs]=GroupWise
Name[da]=GroupWise
Name[de]=GroupWise
Name[en_GB]=GroupWise
Name[eo]=GroupWise
Name[es]=GroupWise
Name[et]=GroupWise
Name[fr]=GroupWise
Name[ga]=GroupWise
Name[hu]=GroupWise
Name[it]=GroupWise
Name[km]=GroupWise​
Name[nb]=GroupWise
Name[nds]=GroupWise
Name[nl]=GroupWise
Name[nn]=GroupWise
Name[pt]=GroupWise
Name[pt_BR]=GroupWise
Name[ro]=GroupWise
Name[sr]=Групвајз
Name[sr@ijekavian]=Групвајз
Name[sr@ijekavianlatin]=GroupWise
Name[sr@latin]=GroupWise
Name[sv]=GroupWise
Name[th]=GroupWise
Name[uk]=GroupWise
Name[wa]=GroupWise
Name[x-test]=xxGroupWisexx
Name[zh_CN]=GroupWise
Name[zh_TW]=GroupWise

