[Desktop Entry]
Type=Service
Icon=icq_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/icq
Comment=ICQ Protocol
Comment[af]=ICQ protokol
Comment[be]=Пратакол ICQ
Comment[bg]=Протокол ICQ
Comment[br]=Komenad ICQ
Comment[ca]=Protocol ICQ
Comment[cs]=ICQ protokol
Comment[da]=ICQ Protokol
Comment[de]=ICQ-Protokoll
Comment[el]=Πρωτόκολλο ICQ
Comment[eo]=ICQ Protokolo
Comment[es]=Protocolo ICQ
Comment[et]=ICQ protokoll
Comment[eu]=ICQ protokoloa
Comment[fa]=قرارداد ICQ
Comment[fi]=ICQ-protokolla
Comment[fr]=Protocole ICQ
Comment[fy]=ICQ-protokol
Comment[ga]=Prótacal ICQ
Comment[gl]=Protocolo ICQ
Comment[he]=פרוטוקול ICQ
Comment[hu]=ICQ protokoll
Comment[is]=ICQ samskiptamátinn
Comment[it]=Protocollo ICQ
Comment[ja]=ICQ プロトコル
Comment[ka]=ICQ ოქმი
Comment[kk]=ICQ протоколы
Comment[km]=ពិធីការ ICQ
Comment[ko]=ICQ 프로토콜
Comment[lt]=ICQ protokolas
Comment[lv]=ICQ protokols
Comment[mk]=ICQ-протокол
Comment[ms]=Protokol ICQ 
Comment[nb]=ICQ-protokoll
Comment[nds]=ICQ-Protokoll
Comment[ne]=आईसीक्यू प्रोटोकल
Comment[nl]=ICQ-protocol
Comment[nn]=ICQ-protokoll
Comment[pa]=ICQ ਪਰੋਟੋਕਾਲ
Comment[pl]=Protokół ICQ
Comment[pt]=Protocolo ICQ
Comment[pt_BR]=Protocolo ICQ
Comment[ro]=Protocol ICQ
Comment[ru]=Протокол ICQ
Comment[se]=ICQ-protokolla
Comment[sk]=Protokol ICQ
Comment[sl]=Protokol ICQ
Comment[sv]=ICQ-protokoll
Comment[ta]=ICQ நெறிமுறை
Comment[tg]=Протоколи ICQ
Comment[th]=โพรโทคอล ICQ
Comment[tr]=ICQ Protokolü
Comment[uk]=Протокол ICQ
Comment[x-test]=xxICQ Protocolxx
Comment[zh_CN]=ICQ 协议
Comment[zh_TW]=ICQ 協定
Name=ICQ
Name[ne]=आईसीक्यू
Name[x-test]=xxICQxx

