[Desktop Entry]
Type=Service
Icon=icq_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/icq
Comment=ICQ Protocol
Comment[ca]=Protocol ICQ
Comment[en_GB]=ICQ Protocol
Comment[nb]=ICQ-protokoll
Comment[nds]=ICQ-Protokoll
Comment[nn]=ICQ-protokoll
Comment[pt]=Protocolo ICQ
Comment[pt_BR]=Protocolo do ICQ
Comment[sv]=ICQ-protokoll
Comment[uk]=Протокол ICQ
Comment[x-test]=xxICQ Protocolxx
Name=ICQ
Name[ca]=ICQ
Name[en_GB]=ICQ
Name[nb]=ICQ
Name[nds]=ICQ
Name[nn]=ICQ
Name[pt]=ICQ
Name[pt_BR]=ICQ
Name[sv]=ICQ
Name[uk]=ICQ
Name[x-test]=xxICQxx

