[Desktop Entry]
Type=Service
Icon=icq_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/icq
Comment=ICQ Protocol
Name=ICQ

