[Desktop Entry]
Type=Service
Icon=irc_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/irc
Comment=Internet Relay Chat
Name=IRC

