[Desktop Entry]
Type=Service
Icon=jabber_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/xmpp
Comment=Jabber Protocol
Comment[af]=Jabber protokol
Comment[be]=Пратакол Jabber
Comment[bg]=Протокол Jabber
Comment[br]=Komenad Jabber
Comment[ca]=Protocol Jabber
Comment[cs]=Jabber protokol
Comment[da]=Jabber Protokol
Comment[de]=Jabber-Protokoll
Comment[el]=Πρωτόκολλο Jabber
Comment[eo]=Jabber Protokolo
Comment[es]=Protocolo Jabber
Comment[et]=Jabberi protokoll
Comment[eu]=Jabber protokoloa
Comment[fa]=قرارداد Jabber
Comment[fi]=Jabber-protokolla
Comment[fr]=Protocole Jabber
Comment[fy]=Jabber-protokol
Comment[ga]=Prótacal Jabber
Comment[gl]=Protocolo Jabber
Comment[he]=פרוטוקול Jabber
Comment[hu]=Jabber protokoll
Comment[is]=Jabber samskiptamátinn
Comment[it]=Protocollo Jabber
Comment[ja]=Jabber プロトコル
Comment[ka]=Jabber ოქმი
Comment[kk]=Jabber протоколы
Comment[km]=ពិធីការ Jabber
Comment[ko]=Jabber 프로토콜
Comment[lt]=Jabber protokolas
Comment[lv]=Jabber protokols
Comment[mk]=Jabber-протокол
Comment[ms]=Protokol Jabber 
Comment[nb]=Jabber-protokoll
Comment[nds]=Jabber-Protokoll
Comment[ne]=ज्याबर प्रोटोकल
Comment[nl]=Jabber-protocol
Comment[nn]=Jabber-protokoll
Comment[pa]=ਜੱਬਰ ਪਰੋਟੋਕਾਲ
Comment[pl]=Protokół Jabber
Comment[pt]=Protocolo Jabber
Comment[pt_BR]=Protocolo Jabber
Comment[ro]=Protocol Jabber
Comment[ru]=Протокол Jabber 
Comment[se]=Jabber-protokolla
Comment[sk]=Protokol Jabber
Comment[sl]=Protokol Jabber
Comment[sv]=Jabber-protokoll
Comment[ta]=ஜாபர் நெறிமுறை
Comment[tg]=протоколи Jabber
Comment[th]=โพรโทคอล Jabber
Comment[tr]=Jabber Protokolü
Comment[uk]=Протокол Jabber
Comment[x-test]=xxJabber Protocolxx
Comment[zh_CN]=Jabber 协议
Comment[zh_TW]=Jabber 協定
Name=Jabber
Name[ne]=ज्याबर
Name[pa]=ਜੱਬਰ
Name[ta]=ஜாபர்
Name[x-test]=xxJabberxx

