[Desktop Entry]
Type=Service
Icon=jabber_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/xmpp
Comment=Jabber Protocol
Name=Jabber

