[Desktop Entry]
Type=Service
Icon=meanwhile_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/meanwhile
Comment=Meanwhile Protocol
Name=Meanwhile

