[Desktop Entry]
Type=Service
Icon=meanwhile_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/meanwhile
Comment=Meanwhile Protocol
Comment[ca]=Protocol Meanwhile
Comment[ca@valencia]=Protocol Meanwhile
Comment[en_GB]=Meanwhile Protocol
Comment[nb]=Meanwhile-protokoll
Comment[nds]=Meanwhile-Protokoll
Comment[nn]=Meanwhile-protokoll
Comment[pt]=Protocolo Meanwhile
Comment[pt_BR]=Protocolo do Meanwhile
Comment[sv]=Meanwhile-protokoll
Comment[th]=โพรโทคอล Meanwhile
Comment[uk]=Протокол Meanwhile
Comment[x-test]=xxMeanwhile Protocolxx
Name=Meanwhile
Name[ca]=Meanwhile
Name[ca@valencia]=Meanwhile
Name[en_GB]=Meanwhile
Name[nb]=Meanwhile
Name[nds]=Meanwhile
Name[nn]=Meanwhile
Name[pt]=Meanwhile
Name[pt_BR]=Meanwhile
Name[sv]=Meanwhile
Name[th]=Meanwhile
Name[uk]=Meanwhile
Name[x-test]=xxMeanwhilexx

