[Desktop Entry]
Type=Service
Icon=msn_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/msn
Comment=MSN Messenger
Comment[af]=MSN boodskapper
Comment[be]=MSN Messenger 
Comment[bg]=MSN
Comment[cy]=Negesydd MSN
Comment[eo]=MSN Mesaĝilo
Comment[fa]=پیام‌رسان MSN
Comment[fr]=Messagerie MSN
Comment[is]=MSN spjallforritið
Comment[ja]=MSN メッセンジャー
Comment[ka]=MSN შიკრიკი
Comment[km]=កម្មវិធី​ផ្ញើសារ MSN
Comment[ko]=MSN 메신저
Comment[lv]=MSN tūlītējas ziņampaiņas programma
Comment[nds]=MSN-Kortnarichtenmaker
Comment[ne]=एमएसएन मेसेन्जर
Comment[pa]=MSN ਮੈਂਸਜ਼ਰ
Comment[pt_BR]=Mensageiro MSN
Comment[ro]=Mesagerul MSN
Comment[ta]=MSN மெசஞ்சர்
Comment[tr]=MSN Mesajcısı
Comment[x-test]=xxMSN Messengerxx
Name=MSN Messenger
Name[be]=MSN Messenger 
Name[bg]=MSN
Name[cy]=Negesydd MSN
Name[eo]=MSN Mesaĝilo
Name[fa]=پیام‌رسان MSN
Name[ja]=MSN メッセンジャー
Name[ka]=MSN შიკრიკი
Name[km]=កម្មវិធី​ផ្ញើសារ MSN
Name[ko]=MSN 메신저
Name[nds]=MSN-Kortnarichtenmaker
Name[ne]=एमएसएन मेसेन्जर
Name[pa]=MSN ਮੈਂਸਜ਼ਰ
Name[ta]=MSN மெசஞ்சர்
Name[tr]=MSN Mesajcısı
Name[x-test]=xxMSN Messengerxx

