[Desktop Entry]
Type=Service
Icon=msn_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/msn
Comment=MSN Messenger
Name=MSN Messenger

