[Desktop Entry]
Type=Service
Icon=skype_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/skype
Comment=Skype Internet Telephony
Name=Skype
