[Desktop Entry]
Type=Service
Icon=skype_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/skype
Comment=Skype Internet Telephony
Comment[af]=Skype Internet Telefoon
Comment[bg]=Интернет телефония чрез Skype
Comment[ca]=Telefonia per Internet Skype
Comment[cs]=Internetová telefonie Skype
Comment[da]=Skype internettelefoni
Comment[de]=Internet-Telefonie mit Skype
Comment[eo]=Skype Interreta Telefonado
Comment[es]=Telefonía por Internet con Skype
Comment[et]=Internetitelefon Skype
Comment[eu]=Skype-en internet telefonia
Comment[fa]=ارتباط تلفنی اینترنت Skype
Comment[fi]=Skype Internet-puhelin
Comment[fr]=Téléphonie Internet Skype
Comment[fy]=Skype ynternettelefony
Comment[ga]=Teileafónaíocht Idirlín Skype
Comment[gl]=Telefoní­a por Internet con Skype
Comment[he]=טלפוניית רשת של Skype
Comment[hu]=Skype internetes telefon
Comment[is]=Skype Internet sími
Comment[it]=Telefonia internet Skype
Comment[ja]=Skype インターネット電話
Comment[ka]=Skype ინტერნეტ ტელეფონი
Comment[kk]=Skype Интернет телефониясы
Comment[km]=ទូរស័ព្ទ​តាម​អ៊ីនធឺណិត​ដោយ​ប្រើ Skype
Comment[ko]=Skype 인터넷 전화
Comment[lt]=Skype Interneto telefonija
Comment[lv]=Skype Interneta telefonsakari
Comment[mk]=Интернет-телефонија со Skype
Comment[nb]=Skype IP-telefoni
Comment[nds]=Internet-Telefoneren mit Skype
Comment[ne]=स्काइप इन्टरनेट टेलिफोनी
Comment[nl]=Skype internettelefonie
Comment[nn]=Skype Internett-telefoni
Comment[pa]=ਸਕਾਈਪੀ ਇੰਟਰਨੈੱਟ ਟੈਲੀਫੋਨੀ
Comment[pl]=Skype - telefonia internetowa
Comment[pt]=Telefonia Internet Skype
Comment[pt_BR]=Telefonia via Internet Skype
Comment[ro]=Telefonie prin Internet Skype
Comment[ru]=Интернет-телефон Skype
Comment[sk]=Skype Internet telefonovanie
Comment[sl]=Internetno telefoniranje Skype
Comment[sv]=Skype Internettelefoni
Comment[tr]=Skype İnternet Telefonu
Comment[uk]=Інтернет-телефон Skype
Comment[x-test]=xxSkype Internet Telephonyxx
Comment[zh_CN]=Skype 网络电话
Comment[zh_TW]=Skype 網路電話
Name=Skype
Name[eo]=kype
Name[ne]=स्काइप
Name[pa]=ਸਕਾਈਪੀ
Name[x-test]=xxSkypexx
