[Desktop Entry]
Type=Service
Icon=skype_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/skype
Comment=Skype Internet Telephony
Comment[ca]=Telefonia d'Internet Skype
Comment[ca@valencia]=Telefonia d'Internet Skype
Comment[de]=Skype-Internettelefonie
Comment[en_GB]=Skype Internet Telephony
Comment[es]=Telefonía por internet de Skype
Comment[ga]=Teileafónaíocht Idirlín Skype
Comment[km]=ទូរស័ព្ទ​តាម​អ៊ីនធឺណិត​ ​Skype​
Comment[nb]=Skype IP-telefoni
Comment[nds]=Internet-Telefoneren mit Skype
Comment[nn]=Skype Internett-telefoni
Comment[pt]=Telefonia Internet Skype
Comment[pt_BR]=Telefonia Internet Skype
Comment[sv]=Skype Internettelefoni
Comment[uk]=Інтернет-телефонія Skype
Comment[x-test]=xxSkype Internet Telephonyxx
Name=Skype
Name[ca]=Skype
Name[ca@valencia]=Skype
Name[de]=Skype
Name[en_GB]=Skype
Name[es]=Skype
Name[ga]=Skype
Name[km]=Skype
Name[nb]=Skype
Name[nds]=Skype
Name[nn]=Skype
Name[pt]=Skype
Name[pt_BR]=Skype
Name[sv]=Skype
Name[th]=Skype
Name[uk]=Skype
Name[x-test]=xxSkypexx
