[Desktop Entry]
Type=Service
Icon=sms_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/sms
Comment=SMS Protocol
Comment[af]=SMS protokol
Comment[be]=Пратакол SMS
Comment[bg]=Протокол SMS
Comment[br]=Komenad SMS
Comment[ca]=Protocol SMS
Comment[cs]=SMS protokol
Comment[da]=SMS Protokol
Comment[de]=SMS-Protokoll
Comment[el]=Πρωτόκολλο SMS
Comment[eo]=SMS Protokolo
Comment[es]=Protocolo SMS
Comment[et]=SMS protokoll
Comment[eu]=SMS protokoloa
Comment[fa]=قرارداد پیام کوتاه
Comment[fi]=SMS-protokolla
Comment[fr]=Protocole SMS
Comment[fy]=SMS-protokol
Comment[ga]=Prótacal SMS
Comment[gl]=Protocolo SMS
Comment[he]=פרוטוקול SMS
Comment[hu]=SMS protokoll
Comment[is]=SMS samskiptamátinn
Comment[it]=Protocollo SMS
Comment[ja]=SMS プロトコル
Comment[ka]= SMS ოქმი
Comment[kk]=SMS протоколы
Comment[km]=ពិធីការ​សេវា​សារ​ខ្លីៗ
Comment[ko]=문자 메시지 프로토콜
Comment[lt]=SMS protokolas
Comment[lv]=SMS protokols
Comment[mk]=SMS-протокол
Comment[ms]=Protokol SMS 
Comment[nb]=SMS Protokoll
Comment[nds]=SMS-Protokoll
Comment[ne]=एसएमएस प्रोटोकल
Comment[nl]=SMS-protocol
Comment[nn]=SMS-protokoll
Comment[pa]=SMS ਪਰੋਟੋਕਾਲ
Comment[pl]=Protokół SMS
Comment[pt]=Protocolo SMS
Comment[pt_BR]=Protocolo SMS
Comment[ro]=Protocol SMS
Comment[ru]=Протокол SMS
Comment[se]=SMS-protokolla
Comment[sk]=Protokol SMS
Comment[sl]=Protokol SMS
Comment[sv]=SMS-protokoll
Comment[ta]=SMS நெறிமுறை
Comment[tg]=протоколи SMS
Comment[th]=โพรโทคอล SMS
Comment[tr]=SMS Protokolü
Comment[uk]=Протокол SMS
Comment[x-test]=xxSMS Protocolxx
Comment[zh_CN]=手机短信协议
Comment[zh_TW]=SMS 協定
Name=SMS
Name[fa]=پیام کوتاه
Name[km]=សេវា​សារ​ខ្លីៗ
Name[ne]=एसएमएस
Name[th]=ข้อความ SMS
Name[x-test]=xxSMSxx
Name[zh_CN]=手机短信

