[Desktop Entry]
Type=Service
Icon=sms_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/sms
Comment=SMS Protocol
Comment[ca]=Protocol SMS
Comment[ca@valencia]=Protocol SMS
Comment[en_GB]=SMS Protocol
Comment[nb]=SMS Protokoll
Comment[nds]=SMS-Protokoll
Comment[nn]=SMS-protokoll
Comment[pt]=Protocolo SMS
Comment[pt_BR]=Protocolo SMS
Comment[sv]=SMS-protokoll
Comment[th]=โพรโทคอล SMS
Comment[uk]=Протокол SMS
Comment[x-test]=xxSMS Protocolxx
Name=SMS
Name[ca]=SMS
Name[ca@valencia]=SMS
Name[en_GB]=SMS
Name[nb]=SMS
Name[nds]=SMS
Name[nn]=SMS
Name[pt]=SMS
Name[pt_BR]=SMS
Name[sv]=SMS
Name[th]=SMS
Name[uk]=SMS
Name[x-test]=xxSMSxx

