[Desktop Entry]
Type=Service
Icon=yahoo_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/yahoo
Comment=Yahoo Protocol
Comment[af]=Yahoo protokol
Comment[be]=Пратакол Yahoo
Comment[bg]=Протокол Yahoo
Comment[br]=Komenad Yahoo
Comment[ca]=Protocol Yahoo
Comment[cs]=Yahoo protokol
Comment[da]=Yahoo Protokol
Comment[de]=Yahoo!-Protokoll
Comment[el]=Πρωτόκολλο Yahoo
Comment[eo]=Yahoo Protokolo
Comment[es]=Protocolo Yahoo
Comment[et]=Yahoo protokoll
Comment[eu]=Yahoo protokoloa
Comment[fa]=قرارداد یاهو
Comment[fi]=Yahoo-protokolla
Comment[fr]=Protocole Yahoo
Comment[fy]=Yahoo-protokol
Comment[ga]=Prótacal Yahoo
Comment[gl]=Protocolo Yahoo
Comment[he]=פרוטוקול Yahoo
Comment[hu]=Yahoo protokoll
Comment[is]=Yahoo samskiptamátinn
Comment[it]=Protocollo Yahoo
Comment[ja]=Yahoo プロトコル
Comment[ka]=Yahoo ოქმი
Comment[kk]=Yahoo протоколы
Comment[km]=ពិធីការ​យ៉ាហ៊ូ
Comment[ko]=Yahoo 프로토콜
Comment[lt]=Yahoo protokolas
Comment[lv]=Yahoo protokols
Comment[mk]=Yahoo-протокол
Comment[ms]=Protokol Yahoo 
Comment[nb]=Yahoo-protokoll
Comment[nds]=Yahoo-Protokoll
Comment[ne]=याहू प्रोटोकल
Comment[nl]=Yahoo-protocol
Comment[nn]=Yahoo!-protokoll
Comment[pa]=ਯਾਹੂ ਪਰੋਟੋਕਾਲ
Comment[pl]=Protokół Yahoo
Comment[pt]=Protocolo Yahoo
Comment[pt_BR]=Protocolo Yahoo
Comment[ro]=Protocol Yahoo
Comment[ru]=Протокол Yahoo
Comment[se]=Yahoo-protokolla
Comment[sk]=Protokol Yahoo
Comment[sl]=Protokol Yahoo
Comment[sv]=Yahoo-protokoll
Comment[ta]=Yahoo நெறிமுறை
Comment[tg]=Протоколи Yahoo
Comment[th]=โพรโทคอล Yahoo
Comment[tr]=Yahoo Protokolü
Comment[uk]=Протокол Yahoo
Comment[x-test]=xxYahoo Protocolxx
Comment[zh_CN]=Yahoo 协议
Comment[zh_TW]=Yahoo 協定
Name=Yahoo
Name[de]=Yahoo!
Name[fa]=یاهو
Name[km]=យ៉ាហ៊ូ
Name[ne]=याहू
Name[nn]=Yahoo!
Name[pa]=ਯਾਹੂ
Name[x-test]=xxYahooxx

