[Desktop Entry]
Type=Service
Icon=yahoo_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/yahoo
Comment=Yahoo Protocol
Comment[ca]=Protocol Yahoo
Comment[ca@valencia]=Protocol Yahoo
Comment[cs]=Protokol Yahoo
Comment[da]=Yahoo-protokollen
Comment[de]=Yahoo-Protokoll
Comment[en_GB]=Yahoo Protocol
Comment[eo]=Yahoo Protokolo
Comment[es]=Protocolo Yahoo
Comment[et]=Yahoo protokoll
Comment[fr]=Protocole Yahoo
Comment[km]=ពិធីការ​យ៉ាហ៊ូ​
Comment[nb]=Yahoo-protokoll
Comment[nds]=Yahoo-Protokoll
Comment[nl]=Yahoo-protocol
Comment[nn]=Yahoo!-protokoll
Comment[pt]=Protocolo Yahoo
Comment[pt_BR]=Protocolo do Yahoo
Comment[sr]=Протокол Јахуа
Comment[sr@ijekavian]=Протокол Јахуа
Comment[sr@ijekavianlatin]=Protokol Yahooa
Comment[sr@latin]=Protokol Yahooa
Comment[sv]=Yahoo-protokoll
Comment[th]=โพรโทคอล Yahoo
Comment[uk]=Протокол Yahoo
Comment[x-test]=xxYahoo Protocolxx
Comment[zh_CN]=Yahoo 协议
Comment[zh_TW]=Yahoo 協定
Name=Yahoo
Name[ca]=Yahoo
Name[ca@valencia]=Yahoo
Name[cs]=Yahoo
Name[da]=Yahoo
Name[de]=Yahoo
Name[en_GB]=Yahoo
Name[eo]=Yahoo
Name[es]=Yahoo
Name[et]=Yahoo
Name[fr]=Yahoo
Name[km]=យ៉ាហ៊ូ​
Name[nb]=Yahoo
Name[nds]=Yahoo
Name[nl]=Yahoo
Name[nn]=Yahoo
Name[pt]=Yahoo
Name[pt_BR]=Yahoo
Name[sr]=Јаху
Name[sr@ijekavian]=Јаху
Name[sr@ijekavianlatin]=Yahoo
Name[sr@latin]=Yahoo
Name[sv]=Yahoo
Name[th]=Yahoo
Name[uk]=Yahoo
Name[x-test]=xxYahooxx
Name[zh_CN]=Yahoo
Name[zh_TW]=Yahoo

